.contact-margin{
    margin-top:6rem;
}

.fa.fa-home {
    font-size: 28px;
}

.fa.fa-inbox {
    font-size: 28px;
}

.phone-info  {
    // align-items:center;
    text-align:center;
}

.phone-info img {
    max-width:340px;
}
